.container
  .row
    .span6
      = simple_form_for(@host, :html => {:class => 'form-horizontal' }) do |f|
        = f.input :description
        = f.input :hostname, :label => "Primary Hostname"
        = f.input :hostname_list, :label => "Other Hostnames", :hint => "Comma separated"
        = f.input :ethernet_mac, :label => "Mac address (eth)"
        = f.input :wlan_mac, :label => "Mac address (wifi)"
        = f.input :ip_address, :label => "IPv4 Address (eth)"
        = f.input :wlan_ip_address, :label => "IPv4 Address (wlan)"
        = f.input :dhcp_flag, :label => "DHCP Allocated?"
        = f.input :active_flag, :label => "Active?"
        = f.button :submit
    .span3
      = render :partial => 'host_range_well'
      = render :partial => 'available_hosts_well', :locals => { :group => :wlan }
    .span3
      = render :partial => 'available_hosts_well', :locals => { :group => :hostgroup }
